h1 {
    font-size: 350%;
}

.anim2 {
    animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

ul {
	padding: 0%;
}

.persons {
	background-color: #C5C5B9;
	border-radius: 10px;
	box-shadow: 1px 1px 5px;
	width: 70%;
	padding-bottom: 1%;
	margin-top: 3%;
	display: flex;
	flex-direction: row;
}

.persons:hover {
	background-color: #d1d1c8;
	box-shadow: 3px 3px 5px;
} 

.persons img {
	width: 12%;
	height: 10%;
	border-radius: 100%;
	margin-top: 2%;
	margin-left: 1%;
}

.persons div {
	display: flex;
	flex-direction: column;
	margin-top: 2%;
	margin-left: 3%;
}

.persons div p{
	margin-top: -6%;
	margin-left: 1%;
}

.equipe {
	width: 70%;
}

.container {
	display: flex;
	flex-direction: wrap;
}

.card {
	width: 30%;
	text-align: center;
	border: solid 1px black;
	border-radius: 8px;
	box-shadow: 1px 1px 1px;
}